@model Student

<div>Id:@Model.Id</div>
<div>FirstName:@Model.FirstName</div>
<div>LastName:@Model.LastName</div>
<div>MatricNumber:@Model.MatricNumber</div>
<div>Department:@Model.Department</div>
<div>Gender:@Model.Gender</div>
<div>School:@Model.School</div>
<div>Age:@Model.Age</div>